@import "tailwindcss";

/* 640d14 [maroon], 
f9eae1 off white , 
1b4332 green [dark] , 
adc178 sage green , 
3c096c purple , 
light pink ff7096 */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.maroon{
    background-color: #640d14;
}


.off-white{
    background-color: #f9eae1;
}

.occ {
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  /* 🔥 background fix */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* height fix */
  min-height: 120px;          /* mobile */
  display: flex;
  align-items: flex-end;
}


.occ::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.1),
    transparent
  );
}

.occ-title {
  position: relative;
  z-index: 2;
  padding: 12px;
  color: white;
  font-weight: 500;
}


.occ > * {
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .occ {
    min-height: 180px;
  }
}



